@import "./components/default";

%sidebar-flex {
  flex-basis: 180px;
}

.wrapper {
  display: flex;
  width: 100vw;
  min-height: 90vh;
  background: $artboard-bg;
}

.toolbar {
  display: flex;
  // justify-content: space-between;
  flex-flow: column wrap;
  @extend %sidebar-flex;
  background: $dark-grey;
  padding: 2em;

  .tool_item {
    margin: 1em 0;
  }

  .font_face {
    p {
      padding: 0;
      margin: 0;
    }
  }

  .font_face_menu {
    display: none;
  }
}

.project_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 auto;
  padding: 2rem;
  background: $artboard-bg;
  max-width: 60%;

  .artboard {
    flex-grow: 2;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
    background: white;
    border-radius: 5px;
    .backdrop {
      width: 100%;
      height: 100%;
    }
  }
}

.sidebar {
  @extend %sidebar-flex;
  padding: 2em;
}

.form-control {
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  min-height: 150px;
  max-height: 150px;
  width: 70%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

.color_input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 1em;
  width: 100%;
}

.f1 {
  font-size: 5em;
  color: $mute-black;
  font-weight: bold;
}

.font_tools {
  display: inline-flex;
  .tool_btn {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-bottom: solid;
    background: white;
    img {
      width: 1rem;
    }
  }
}

.artboard {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.smart_border {
  border: dotted 1px lightblue;
}

.tools_wrapper:first-child {
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  .tool_btn:first-child {
    border-radius: 10px 0px 0px 0px;
  }
  .tool_btn:last-child {
    border-bottom: none;
  }
}

.tools_wrapper:last-child {
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-radius:  0 10px 10px 0;
  overflow: hidden;
  .tool_btn:first-child {
    border-radius: 0 10px 0 0;
  }
}

.tools_wrapper:nth-child(2n) {
  border-right: solid;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-radius:  0;
  overflow: hidden;
  .tool_btn:first-child {
    border-radius: 0;
  }
  .tool_btn:last-child {
    border-bottom: 0;
  }
}
