.page_wrapper {
  position: relative;
  display: block;
  min-width: 100vw;
  min-height: 100vh; }

.index_wrapper {
  display: flex;
  flex-direction: column; }

.signin_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  width: 40vw;
  height: 80%;
  margin: -10em auto; }
  .signin_wrapper .form_group {
    align-self: center;
    width: 100%; }
    .signin_wrapper .form_group .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      margin-top: 1em; }
    .signin_wrapper .form_group label {
      letter-spacing: 5px; }
    .signin_wrapper .form_group .btn {
      letter-spacing: 2.5px; }

.signin_header {
  text-align: center;
  padding-top: 2em; }
  .signin_header h2 {
    letter-spacing: 5px;
    text-align: center;
    font-size: 4em; }

.signin_art {
  max-width: 100%;
  position: absolute;
  bottom: 0; }
