%fullWidthHeight {
  position: relative;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

.page_wrapper {
  @extend %fullWidthHeight;
}

.index_wrapper {
  display: flex;
  flex-direction: column;
}

.signin_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  width: 40vw;
  height: 80%;
  margin: -10em auto;
  .form_group {
    align-self: center;
    width: 100%;
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      margin-top: 1em;
    }
    label {
      letter-spacing: 5px;
    }
    .btn {
      letter-spacing: 2.5px;
    }
  }
}

.signin_header {
  text-align: center;
  padding-top: 2em;
    h2 {
      letter-spacing: 5px;
      text-align: center;
      font-size: 4em;
    }
}

.signin_art {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}
